/********* Header *********/
.header-home{
    position: absolute;
    width: 1152px;
    height: 83px;
    left: 0px;
    top: 0px;
    

    background: black;
}
.logo-matea-header{
    position: absolute;
width: 37px;
height: 33px;
left: 66px;
top: 25px;
background: url(C:\Users\user\Desktop\LogoSoloBlancoFondoTransparente1.png)
}
.header-home-signin{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 957px;
    top: 28px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.header-home-signup{
    position: absolute;
    width: 138px;
    height: 30px;
    left: 789px;
    top: 28px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.header-home__h4{
    position: absolute;
width: 183px;
height: 64px;
left: 114px;
top: 0px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
color: white;
background: #000000;
}
/******** Footer ********/

.footer-home{
    position: absolute;
    width: 1152px;
    height: 88px;
    left: 0px;
    top: 612px;
    background: #000000;
}
.footer-home-p1{
    position: absolute;
    width: 242px;
    height: 30px;
    left: 66px;
    top: 641px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: red;
    background-color: salmon;

}
.footer-home-p2{
    position: absolute;
    width: 138px;
    height: 30px;
    left: 859px;
    top: 641px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}