/******HOME******/
h1{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 61px;
	color: white;}

.has-search .form-control {
    padding-left: 2.375rem;
    /*position: absolute;
    
	height: 57px;*/

	margin: 70px auto;
	width: 100%;
	max-width: 738px;
	height: 57px;

	background: #FFFFFF;
	/* Dark 25% */

	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 33px;
}



/********* Header *********/


.header-home-signin{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 957px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.header-home-signup{
    position: absolute;
    width: 138px;
    height: 30px;
    left: 789px;
    top: 28px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.header-home__h4{
    position: absolute;
    width: 183px;
    height: 64px;
    left: 114px;
    top: 0px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: white;
    background: #000000;
}
/*********End of Header*********/

/**** Aqui el contenido del home****/
.main {
    width: 100%;

    margin: 50px auto;
    align-items: center;
    text-align: center;
}







.text__titulo{
	position: absolute;
    width: 797px;
    height: 30px;
    left: 177px;
    top: 83px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}


.bg-image{
	/*position: absolute;*/
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

	left: -7px;
	top: 82px;
	background-image: url(../imágenes/Latin_Festival_-_2017-06-09_-_Angelito_Jusay_1.png);
	/*background-size: cover;*/
	  /* Background image is centered vertically and horizontally at all times */
	/*background-position: center center;
	  /* Background image doesn't tile */
	background-repeat: no-repeat;
	  /* Background image is fixed in the viewport so that it doesn't move when 
	     the content's height is greater than the image's height */
	/*background-attachment: fixed;
	  /* This is what makes the background image rescale based
	     on the container's size */
	background-size: cover;
	  /* Set a background color that will be displayed
	     while the background image is loading */

	/*background-color: black;*/


}

.boton_musica{

	width: auto;
	max-width: 450px;
	height: auto;
	/*height: 57px;*/

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 26px;
	color: white;

	background: #1ED760;
	border-radius: 42px;
}

.titulo__home{position: absolute;
width: 797px;
height: 30px;
left: 177px;
top: 183px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 61px;

color: #FFFFFF;}


.text_logo{position: absolute;
    width: 183px;
    height: 64px;
    left: 114px;
    top: 19px;
    
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    font-size: px;
    line-height: px;
    
    color: #FFFFFF;
    

}
.logo__matefy{
    position: absolute;
width: 37px;
height: 33px;
left: 66px;
top: 25px;

}

.titulo__home{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    
    color: #FFFFFF;
}
.boton_musica{
	padding-left: 2.375rem;
	padding-right: 2.375rem;
	padding-top: 0.575rem;
	padding-bottom: 0.575rem;
	width: auto;
	max-width: 450px;
	height: auto;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 20px;
	color: white;

	background: #1ED760;
	border-radius: 42px;
}


footer {background-color:black;
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
}


.logo__spotify{

width: 50px;
height: 40px;
left: 986px;
top: 622px;
}
.copyright-text{
    position: absolute;



font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;

}
h6{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
/*********** End of Footer home ***********/
/********* start of registration page **********/
.register-tittle{

    width: 183px;
    height: 64px;
    margin: 0px auto;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: white;
}
.col-md-12 {
    width: auto;
    margin: 0rem;
    text-align: center;

}
.col{
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.input-register{
    text-align: center;
    width: 527px;
    height: 57px;
    border-radius: 33px;
    border: 1px solid rgba(31, 32, 65, 0.25);

}
.input-register::placeholder{
text-align: start;
padding-left: 5px;
}
.background-register{
    background-color: white;
}
.register-tittle-form{
    width: 342px;
    height: 16px;

margin: 0px auto 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: black;
}
.input-register1{
    margin-right: 25px;
    width: 90px;
    height: 56.43px;
    border-radius: 50px;
    border-color:rgba(31, 32, 65, 0.25);
        
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    opacity: 0.5;
}
.input-register2{
    position: absolute;
    margin-right: 24px;

    width: 211px;
    height: 56.43px;
    border-radius: 33px;
    border-color:rgba(31, 32, 65, 0.25);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    opacity: 50%;
}
.input-register3{
    width: 173px;
    height: 56.43px;
    border-radius: 33px;
    border-color:rgba(31, 32, 65, 0.25);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    opacity: 50%;
}
.center-row{
    justify-content: center;
}

/******* End of Registration page *******/

/******** Start of Login page ********/
.login-tittle{
    font-family: 'montserrat';
    
}
.titulo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;


    color: #000000;
}
.login-button{
    background: #1ED760;
    border-radius: 42px;
}
.inline-block{
    display: inline-block;
}
.margin-left{
    margin-right: 293.83px;
}
.checkbox{
    width: 19.17px;
    height: 19.17px;
    margin-top: 5px;
}

/********** End of Login page**********/
/************** Start Register-Footer ************/

.footer-img{
position: absolute;
right: 50px;
margin-top: 20px;
}
.diseña-uy{
    margin: 20px 0px 0px 0px;
    display: inline-block;
}

.register-footer{
    position: sticky;
    bottom: 0px;
    width: 1152px;
    height: 88px;
    border: 1px solid rgba(101, 101, 101, 0.33);
    
}
.powered-by{
    position: absolute;
    right: 168px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
/********** Search Play List ***********/
.padre{
    background-color: black;
}