.main {
    width: 50%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
    /*position: absolute;
    
	height: 57px;*/

	margin: 70px auto;
	width: 100%;
	max-width: 738px;
	height: 57px;

	background: #FFFFFF;
	/* Dark 25% */

	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 33px;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 61px;
	color: white;
}



.bg-image{
	/*position: absolute;*/
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

	left: -7px;
	top: 82px;
	background-image: url(../imágenes/Latin_Festival_-_2017-06-09_-_Angelito_Jusay_1.png);
	/*background-size: cover;*/
	  /* Background image is centered vertically and horizontally at all times */
	/*background-position: center center;
	  /* Background image doesn't tile */
	background-repeat: no-repeat;
	  /* Background image is fixed in the viewport so that it doesn't move when 
	     the content's height is greater than the image's height */
	/*background-attachment: fixed;
	  /* This is what makes the background image rescale based
	     on the container's size */
	background-size: cover;
	  /* Set a background color that will be displayed
	     while the background image is loading */
	/*background-color: black;*/

}

.boton_musica{

	width: auto;
	max-width: 450px;
	height: auto;
	/*height: 57px;*/

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 26px;
	color: white;

	background: #1ED760;
	border-radius: 42px;
}

.titulo__home{position: absolute;
width: 797px;
height: 30px;
left: 177px;
top: 183px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 61px;

color: #FFFFFF;}


.text_logo{position: absolute;
    width: 183px;
    height: 64px;
    left: 114px;
    top: 19px;
    
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    font-size: px;
    line-height: px;
    
    color: #FFFFFF;
    

}
.logo__matefy{
    position: absolute;
width: 37px;
height: 33px;
left: 66px;
top: 25px;

}

.titulo__home{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    
    color: #FFFFFF;
}
.boton_musica{
	padding-left: 2.375rem;
	padding-right: 2.375rem;
	padding-top: 0.575rem;
	padding-bottom: 0.575rem;
	width: auto;
	max-width: 450px;
	height: auto;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 20px;
	color: white;

	background: #1ED760;
	border-radius: 42px;
}


footer {background-color:black;
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
}


.logo__spotify{

width: 50px;
height: 40px;
left: 986px;
top: 622px;
}
.copyright-text{
    position: absolute;



font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;

}
h6{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
/*********** End of Footer home ***********/
/********* start of registration page **********/
.register-tittle{

width: 121px;
height: 64px;
margin: 0px auto;

font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
color: white;
}
.col-md-12 {
    width: auto;
    margin: 0rem;
    text-align: center;

}
.col{
    background-color: white;
    justify-content: center;
    align-items: center;
}
.input-register{
    text-align: center;
    width: 350.67px;
    height: 57px;
    border-radius: 33px;
    border: 1px solid rgba(31, 32, 65, 0.25);;

}
.input-register::placeholder{
text-align: start;
padding-left: 5px;
}
.background-register{
    background-color: black;
}
.register-tittle-form{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: black;
}
/******** Start of Login ********/
.login-tittle{
    font-family: 'montserrat';
}